.about{
    padding-top: 100px;
    
    &__title{
        font: 400 24px $title;
        text-transform: uppercase;
        @include pos(absolute, $r: 0, $l: 0, $t: 17%);
        margin: auto;       
    }

    &__logo{
        @include pos(absolute, $l: 0, $r: 0, $t: 49%);
        padding: 0 10%;
        margin: auto;
    }
}