.btn{
    color: #fff;
    text-transform: uppercase;
    font: 400 20px $title;
    padding: 25px 40px;
    border: none;
    border-radius: 0;
    transition: none;
    position: relative;

    &:hover{
        color: #6e774a;
    }

    &:after{
        display: inline-block;
        align-items: center;
        @include pos($pos: relative, $t: -8px, $z: 9);
        @include size(45px, 2px);
        
        content: '';
        margin-left: 17px;
        background-color: #fff;
        z-index: 1;
    }
}